@media (max-width: 990px) {


    .img-grid {
        grid-template-columns: repeat(auto-fit, 200px);
        grid-auto-rows: 200px;
        gap: 10px;
        padding: 25px;
        width: auto;
        margin: 0 auto;
    }

    .search-bar {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 20px;
        grid-template-areas: 
        "search flexible "
        "top top";
        text-align: center;
        margin: auto;
        height: 3rem;
        padding: 40px 0;
      }

      .main-header {
       display: grid;
        font-size: 1.3rem;
      }



      .meme-container {
          flex-direction: column;
          height: 1150px;
      }

}


@media (max-width: 550px) {
canvas{
    height: 400px;
    width: 400px;
}
}
