.main-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);;
    height: 70px;
    background-color: var(--clr1);
    font-family: Montserrat-Regular;
    font-size: 1.5rem;
    align-items: center;
    justify-items: start;
  }
  
  .main-header .main-nav > * {
    margin-inline-end: 1rem;
    padding: 20px;
    color: var(--clr3);
  }
  
  .main-header a {
    text-decoration: none;
    color: var(--clr4);
  }
  
  .main-header a:hover {
    color: var(--clr5);
  }